/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@font-face {
    font-family: 'telegraphemregular';
    src: url('../fonts/telegraphem-webfont.eot');
    src: url('../fonts/telegraphem-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/telegraphem-webfont.woff2') format('woff2'),
         url('../fonts/telegraphem-webfont.woff') format('woff'),
         url('../fonts/telegraphem-webfont.ttf') format('truetype'),
         url('../fonts/telegraphem-webfont.svg#telegraphemregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font-size: 16px/26px Helvetica, Helvetica Neue, Arial;

    background: #fff url('../img/bg.png') no-repeat center bottom;
    background-position: center bottom;
    background-size: 100% auto;
    background-attachment: fixed;
    font-family: 'telegraphemregular';

    color: #444;
}

img {
    background-color: #fff;
}

article img {
    margin-top: 40px;
}

body p {
   /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
   font-family: 'Libre Baskerville', serif;
   font-size: 0.85em;
   line-height: 1.8em;
   font-weight: 300;
}

body.light {
    opacity: 0.9;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.social {
    font-size: 1.8em;
    text-align: center;
}

.social a,
.social a:first-child {
    display: inline;
    text-align: center;
    color: #444;
}


/* ===================
    ALL: Orange Theme
   =================== */



/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 7px 0;

    text-align: center;
    text-decoration: none;

    color: #444;
}

nav a:hover,
nav a:visited {
    color: #000;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main nav {
    /* padding: 0px 5% 10px; */
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

.main article {
        background-color:rgba(255,255,255,0.9);
        padding: 10px 30px 30px 30px;
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px#888;
        box-shadow: 0 0 5px #888;
        min-height: 400px;
    }



/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

blockquote {
    border-left: 1px solid #444;
    margin-left: 20px;
    margin-top: 40px;
    padding-left: 20px;
    font-family: 'Libre Baskerville', serif;
}

cite {
    margin-bottom: 40px;
}

iframe {
    max-width: 90%;
    margin: 0 auto;
    display: block;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

.title a {
    color: #444;
    text-decoration: none;
}








/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: none;
        width: 100%;
        /* margin: 0 1.7%; */
        /* padding: 25px 2%; */
        margin-bottom: 0;
        text-align: left;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */


/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
        font-weight: normal;
        position: fixed;
    }

    /* nav {
        float: right;
        width: 38%;
    } */

/* ============
    WIDE: Main
   ============ */

   body {
    background-color: #fff;
    background-position: center -20%;
   }

    .main article {
        float: right;
        width: 65%;
        margin-top: 80px;
        background-color:rgba(255,255,255,0.9);
        padding: 0 30px 30px 30px;
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px#888;
        box-shadow: 0 0 5px #888;
        min-height: 400px;
    }

    .main nav {
        float: left;
        width: 15%;
        position: fixed;
        margin-top: 80px;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}